xml/WithDoc/aco/composites.xsd

<?xml version="1.0" ?> 
<xsd:schema targetNamespace="urn:mtf:mil:6040b:aco:B.1.02.06:composite" xml:lang="en-US" xmlns="urn:mtf:mil:6040b:aco:B.1.02.06:composite" xmlns:f="urn:mtf:mil:6040b:aco:B.1.02.06:elemental" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
 <xsd:import namespace="urn:mtf:mil:6040b:aco:B.1.02.06:elemental" schemaLocation="fields.xsd" /><xsd:complexType name="PlanOriginatorAndNumberType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>PLAN ORIGINATOR AND NUMBER</FudName>
   <FudExplanation>The official identifier of a military establishment which is responsible for a specific operation plan, and the identification number assigned to that specific operation plan.</FudExplanation>
   <FieldFormatIndexReferenceNumber>102</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="PlanOriginator" type="f:PlanOriginatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="BlankSpaceCharacter" type="f:BlankSpaceCharacterType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="OperationPlanNumber" type="f:OperationPlanNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="ReportedAltitudeType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>REPORTED ALTITUDE</FudName>
   <FudExplanation>The vertical distance above mean sea level of an airborne object.</FudExplanation>
   <FieldFormatIndexReferenceNumber>668</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity0To999999" type="f:ContextQuantity0To999999Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfLinearMeasurementMetersOrFeet" type="f:UnitOfLinearMeasurementMetersOrFeetType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="TrackWidthType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>TRACK WIDTH</FudName>
   <FudExplanation>The width of an airspace track measured left and right of centerline.</FudExplanation>
   <FieldFormatIndexReferenceNumber>1216</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecPtForTenthsPermitted4CharMax_1" type="f:ContextQuantityDecPtForTenthsPermitted4CharMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfLinearMeasurementMKmNm_1" type="f:UnitOfLinearMeasurementMKmNmType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LateralAdjustmentIndicatorLeft" type="f:LateralAdjustmentIndicatorLeftType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContextQuantityDecPtForTenthsPermitted4CharMax_2" type="f:ContextQuantityDecPtForTenthsPermitted4CharMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfLinearMeasurementMKmNm_2" type="f:UnitOfLinearMeasurementMKmNmType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>6</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LateralAdjustmentIndicatorRight" type="f:LateralAdjustmentIndicatorRightType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>7</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="SerialNumberAcoType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>SERIAL NUMBER (ACO)</FudName>
   <FudExplanation>The serial number used to define an ACO.</FudExplanation>
   <FieldFormatIndexReferenceNumber>1323</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity01To31" type="f:ContextQuantity01To31Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="SuffixABC" type="f:SuffixABCType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="CoordinationMeasureDesignatorRangeType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>COORDINATION MEASURE DESIGNATOR RANGE</FudName>
   <FudExplanation>A means to specify a contiguous block of predefined coordination measures as a range from lower bound to upper bound of the block inclusive.</FudExplanation>
   <FieldFormatIndexReferenceNumber>2217</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.03</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="CoordinationMeasureDesignator_1" type="f:CoordinationMeasureDesignatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="CoordinationMeasureDesignator_2" type="f:CoordinationMeasureDesignatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="TimeDurationType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>TIME DURATION, DAY, HR, MIN, MON, SEC, WK, YR</FudName>
   <FudExplanation>The time interval or period of an event.</FudExplanation>
   <FieldFormatIndexReferenceNumber>2331</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecimalPtPermitted4CharacterMax" type="f:ContextQuantityDecimalPtPermitted4CharacterMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfTimeMeasurementYrDayHrMinSecWkMon" type="f:UnitOfTimeMeasurementYrDayHrMinSecWkMonType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="VerticalDimensionBaseRefPointToRelativeAltitudeType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>VERTICAL DIMENSION, BASE REF POINT TO RELATIVE ALTITUDE</FudName>
   <FudExplanation>The vertical limits of an altitude band in which the top and bottom are defined as a reference point and a relative altitude.</FudExplanation>
   <FieldFormatIndexReferenceNumber>2341</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="AltitudeBaseReferencePoint" type="f:AltitudeBaseReferencePointType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MaxAltitude" type="f:MaxAltitudeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AirspaceUnitOfMeasure" type="f:AirspaceUnitOfMeasureType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AltitudeUnitOfMeasurementIndicator" type="f:AltitudeUnitOfMeasurementIndicatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="VerticalDimensionBaseRefPointToFlightLevelType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>VERTICAL DIMENSION, BASE REF POINT TO FLIGHT LEVEL</FudName>
   <FudExplanation>The vertical limits of an altitude band in which the top and bottom are defined as a reference point and a flight level.</FudExplanation>
   <FieldFormatIndexReferenceNumber>2342</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="AltitudeBaseReferencePoint" type="f:AltitudeBaseReferencePointType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="FlightLevelIndicator" type="f:FlightLevelIndicatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MaxAltitudeHundredsOfFeet" type="f:MaxAltitudeHundredsOfFeetType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="VerticalDimensionRelativeAltitudeToFlightLevelType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>VERTICAL DIMENSION, RELATIVE ALTITUDE TO FLIGHT LEVEL</FudName>
   <FudExplanation>The vertical limits of an altitude band in which the top and bottom are defined as a relative altitude and a flight level.</FudExplanation>
   <FieldFormatIndexReferenceNumber>2343</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="MinAltitude" type="f:MinAltitudeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AirspaceUnitOfMeasure" type="f:AirspaceUnitOfMeasureType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AltitudeUnitOfMeasurementIndicator" type="f:AltitudeUnitOfMeasurementIndicatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="FlightLevelIndicator" type="f:FlightLevelIndicatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MaxAltitudeHundredsOfFeet" type="f:MaxAltitudeHundredsOfFeetType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>6</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="VerticalDimensionRelativeAltitudeToRelativeAltitudeType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>VERTICAL DIMENSION, RELATIVE ALTITUDE TO RELATIVE ALTITUDE</FudName>
   <FudExplanation>The vertical limits of an altitude band in which the top and bottom are both defined as a relative altitude.</FudExplanation>
   <FieldFormatIndexReferenceNumber>2344</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="MinAltitude" type="f:MinAltitudeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AirspaceUnitOfMeasure_1" type="f:AirspaceUnitOfMeasureType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AltitudeUnitOfMeasurementIndicator_1" type="f:AltitudeUnitOfMeasurementIndicatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MaxAltitude" type="f:MaxAltitudeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AirspaceUnitOfMeasure_2" type="f:AirspaceUnitOfMeasureType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>6</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AltitudeUnitOfMeasurementIndicator_2" type="f:AltitudeUnitOfMeasurementIndicatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>7</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="FlightLevelBandType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>FLIGHT LEVEL BAND</FudName>
   <FudExplanation>The airspace between two theoretical spheres described by minimum and maximum vertical distance expressed as pressure altitude in hundreds of feet.</FudExplanation>
   <FieldFormatIndexReferenceNumber>2345</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="FlightLevelIndicator_1" type="f:FlightLevelIndicatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContextQuantity000To999_1" type="f:ContextQuantity000To999Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="FlightLevelIndicator_2" type="f:FlightLevelIndicatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContextQuantity000To999_2" type="f:ContextQuantity000To999Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType></xsd:schema>