xml/WithDoc/airliftreq/composites.xsd

<?xml version="1.0" ?> 
<xsd:schema targetNamespace="urn:mtf:mil:6040b:airliftreq:B.1.01.15:composite" xml:lang="en-US" xmlns="urn:mtf:mil:6040b:airliftreq:B.1.01.15:composite" xmlns:f="urn:mtf:mil:6040b:airliftreq:B.1.01.15:elemental" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
 <xsd:import namespace="urn:mtf:mil:6040b:airliftreq:B.1.01.15:elemental" schemaLocation="fields.xsd" /><xsd:complexType name="GeographicLocationLatLongSecondsType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>GEOGRAPHIC LOCATION, LAT/LONG, SECONDS</FudName>
   <FudExplanation>The location of a point on the earth's surface as defined by the intersection of angular distances measured north and south of the equator and east and west of a specified meridian.</FudExplanation>
   <FieldFormatIndexReferenceNumber>11</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="LatitudeDegrees" type="f:LatitudeDegreesType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudeMinuteAngular" type="f:LatitudeMinuteAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudeSecondAngular" type="f:LatitudeSecondAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudinalHemisphere" type="f:LatitudinalHemisphereType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeDegrees" type="f:LongitudeDegreesType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeMinuteAngular" type="f:LongitudeMinuteAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>6</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeSecondAngular" type="f:LongitudeSecondAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>7</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudinalHemisphere" type="f:LongitudinalHemisphereType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>8</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="DateType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>DATE, YEAR-MONTH-DAY</FudName>
   <FudExplanation>The date which specifies a given event.</FudExplanation>
   <FieldFormatIndexReferenceNumber>75</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="Year" type="f:YearType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MonthNumeric" type="f:MonthNumericType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Day" type="f:DayType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="PlanOriginatorAndNumberType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>PLAN ORIGINATOR AND NUMBER</FudName>
   <FudExplanation>The official identifier of a military establishment which is responsible for a specific operation plan, and the identification number assigned to that specific operation plan.</FudExplanation>
   <FieldFormatIndexReferenceNumber>102</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="PlanOriginator" type="f:PlanOriginatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="BlankSpaceCharacter" type="f:BlankSpaceCharacterType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="OperationPlanNumber" type="f:OperationPlanNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="CargoSizeCodedQuantityType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>CARGO SIZE CODED QUANTITY</FudName>
   <FudExplanation>A description of the cubic size of cargo expressed as a coded quantity.</FudExplanation>
   <FieldFormatIndexReferenceNumber>228</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecimalPtPermitted3CharMax" type="f:ContextQuantityDecimalPtPermitted3CharMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="SingleSuffix" type="f:SingleSuffixType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfVolumeMeasurement" type="f:UnitOfVolumeMeasurementType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="OnloadWeightType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>ONLOAD WEIGHT</FudName>
   <FudExplanation>The weight of cargo for an aircraft, ship, or spacecraft.</FudExplanation>
   <FieldFormatIndexReferenceNumber>261</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecPtForTenthsPermitted4CharMax" type="f:ContextQuantityDecPtForTenthsPermitted4CharMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfWeightMassMeasurement" type="f:UnitOfWeightMassMeasurementType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="CargoSizeType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>CARGO CUBIC SIZE</FudName>
   <FudExplanation>A description of the cubic size of cargo.</FudExplanation>
   <FieldFormatIndexReferenceNumber>452</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecimalPtPermitted4CharacterMax" type="f:ContextQuantityDecimalPtPermitted4CharacterMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfVolumeMeasurement" type="f:UnitOfVolumeMeasurementType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="NumberAndTypeOrModelOfAircraftType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>NUMBER AND TYPE/MODEL OF AIRCRAFT</FudName>
   <FudExplanation>The count and type and/or model of aircraft being reported.</FudExplanation>
   <FieldFormatIndexReferenceNumber>496</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.06</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity1To99" type="f:ContextQuantity1To99Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AircraftTypeAndModel" type="f:AircraftTypeAndModelType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="LocationMgrsUtmAbbreviated10MeterType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>LOCATION, MGRS-UTM ABBREVIATED 10-METER</FudName>
   <FudExplanation>The Military Grid Reference System (MGRS) is based on the Universal Transverse Mercator (UTM)  system (MGRS-UTM) (abbreviated), used for locating any point on the earth between latitude 80 degrees south and 84 degrees north, which corresponds to 10-meter precision.</FudExplanation>
   <FieldFormatIndexReferenceNumber>597</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="_100000MeterSquareColumn" type="f:_100000MeterSquareColumnType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="_100000MeterSquareRow" type="f:_100000MeterSquareRowType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MgrsUtm10MeterEasting" type="f:MgrsUtm10MeterEastingType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MgrsUtm10MeterNorthing" type="f:MgrsUtm10MeterNorthingType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="LocationMgrsUtmAbbreviated100MeterType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>LOCATION, MGRS-UTM ABBREVIATED 100-METER</FudName>
   <FudExplanation>The Military Grid Reference System (MGRS) is based on the Universal Transverse Mercator (UTM) system (MGRS-UTM) (abbreviated), used for locating any point on the earth between latitude 80 degrees south and 84 degrees north, which corresponds to 100-meter precision.</FudExplanation>
   <FieldFormatIndexReferenceNumber>598</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="_100000MeterSquareColumn" type="f:_100000MeterSquareColumnType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="_100000MeterSquareRow" type="f:_100000MeterSquareRowType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MgrsUtm100MeterEasting" type="f:MgrsUtm100MeterEastingType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MgrsUtm100MeterNorthing" type="f:MgrsUtm100MeterNorthingType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="NumberAndCategoryOfAircraftType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>NUMBER AND CATEGORY OF AIRCRAFT</FudName>
   <FudExplanation>The number and category of aircraft.</FudExplanation>
   <FieldFormatIndexReferenceNumber>665</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="AircraftAllocatedToAMission" type="f:AircraftAllocatedToAMissionType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AircraftCategoryAbbreviated" type="f:AircraftCategoryAbbreviatedType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="PriorityUrgencyJustificationCategoryPujcType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>PRIORITY/URGENCY/JUSTIFICATION CATEGORY (PUJC)</FudName>
   <FudExplanation>The Priority/Urgency/Justification/Category (PUJC) code assigned to an airlift request.</FudExplanation>
   <FieldFormatIndexReferenceNumber>905</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="PassengerCargoPriorityCode" type="f:PassengerCargoPriorityCodeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="PassengerCargoUrgencyAndJustification" type="f:PassengerCargoUrgencyAndJustificationType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="CategoryCode" type="f:CategoryCodeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="LengthOfItemType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>LENGTH OF ITEM</FudName>
   <FudExplanation>The linear measurement measured from end to end of an item.</FudExplanation>
   <FieldFormatIndexReferenceNumber>937</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity1To9999" type="f:ContextQuantity1To9999Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfLinearMeasurementInchesCentimeters" type="f:UnitOfLinearMeasurementInchesCentimetersType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="WidthOfItemType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>WIDTH OF ITEM</FudName>
   <FudExplanation>The linear measurement measured from side to side of an item.</FudExplanation>
   <FieldFormatIndexReferenceNumber>938</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity0To999" type="f:ContextQuantity0To999Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfLinearMeasurementInchesCentimeters" type="f:UnitOfLinearMeasurementInchesCentimetersType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="HeightOfItemType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>HEIGHT OF ITEM</FudName>
   <FudExplanation>The linear vertical dimension of an item.</FudExplanation>
   <FieldFormatIndexReferenceNumber>939</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity0To999" type="f:ContextQuantity0To999Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfLinearMeasurementInchesCentimeters" type="f:UnitOfLinearMeasurementInchesCentimetersType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType></xsd:schema>