xml/WithDoc/airsupreq/composites.xsd

<?xml version="1.0" ?> 
<xsd:schema targetNamespace="urn:mtf:mil:6040b:airsupreq:B.1.01.15:composite" xml:lang="en-US" xmlns="urn:mtf:mil:6040b:airsupreq:B.1.01.15:composite" xmlns:f="urn:mtf:mil:6040b:airsupreq:B.1.01.15:elemental" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
 <xsd:import namespace="urn:mtf:mil:6040b:airsupreq:B.1.01.15:elemental" schemaLocation="fields.xsd" /><xsd:complexType name="LengthType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>LENGTH</FudName>
   <FudExplanation>The linear measurement from end to end of a target, object, or area.</FudExplanation>
   <FieldFormatIndexReferenceNumber>61</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecimalPtPermitted5CharacterMax" type="f:ContextQuantityDecimalPtPermitted5CharacterMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LinearDimensionUnitOfMeasurement" type="f:LinearDimensionUnitOfMeasurementType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="WidthType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>WIDTH</FudName>
   <FudExplanation>The linear distance from side to side of a target, object, or area.</FudExplanation>
   <FieldFormatIndexReferenceNumber>62</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecimalPtPermitted5CharacterMax" type="f:ContextQuantityDecimalPtPermitted5CharacterMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LinearDimensionUnitOfMeasurement" type="f:LinearDimensionUnitOfMeasurementType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="HeightInFeetOrMetersType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>HEIGHT IN FEET OR METERS</FudName>
   <FudExplanation>The maximum vertical dimension of a target, object, or area in feet or meters.</FudExplanation>
   <FieldFormatIndexReferenceNumber>63</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecimalPtPermitted5CharacterMax" type="f:ContextQuantityDecimalPtPermitted5CharacterMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfLinearMeasurementMetersOrFeet" type="f:UnitOfLinearMeasurementMetersOrFeetType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="SpeedOfMovementType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>SPEED OF MOVEMENT</FudName>
   <FudExplanation>The observed or detected rate of motion of a target, vehicle, object or phenomenon.</FudExplanation>
   <FieldFormatIndexReferenceNumber>64</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecimalPtPermitted5CharacterMax" type="f:ContextQuantityDecimalPtPermitted5CharacterMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfSpeedVelocityMeasurement" type="f:UnitOfSpeedVelocityMeasurementType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="RelativeTimeInHoursAndMinutesType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>RELATIVE TIME IN HOURS AND MINUTES</FudName>
   <FudExplanation>The time in hours and minutes of an action or event relative to a specific reference time, action, or event.</FudExplanation>
   <FieldFormatIndexReferenceNumber>84</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="RelativeTimeIndicator" type="f:RelativeTimeIndicatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArithmeticSymbol" type="f:ArithmeticSymbolType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="HourTime" type="f:HourTimeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinuteTime" type="f:MinuteTimeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="PlanOriginatorAndNumberType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>PLAN ORIGINATOR AND NUMBER</FudName>
   <FudExplanation>The official identifier of a military establishment which is responsible for a specific operation plan, and the identification number assigned to that specific operation plan.</FudExplanation>
   <FieldFormatIndexReferenceNumber>102</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="PlanOriginator" type="f:PlanOriginatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="BlankSpaceCharacter" type="f:BlankSpaceCharacterType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="OperationPlanNumber" type="f:OperationPlanNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="TargetAirDefensesType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>TARGET AIR DEFENSES</FudName>
   <FudExplanation>The observed or estimated air defenses that defend a particular area on the ground or sea.</FudExplanation>
   <FieldFormatIndexReferenceNumber>199</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="RelativeIntensityOfHostileSurfaceToAirFire" type="f:RelativeIntensityOfHostileSurfaceToAirFireType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrdnanceWeaponTypeSurfaceToAir" type="f:OrdnanceWeaponTypeSurfaceToAirType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="CargoSizeCodedQuantityType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>CARGO SIZE CODED QUANTITY</FudName>
   <FudExplanation>A description of the cubic size of cargo expressed as a coded quantity.</FudExplanation>
   <FieldFormatIndexReferenceNumber>228</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecimalPtPermitted3CharMax" type="f:ContextQuantityDecimalPtPermitted3CharMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="SingleSuffix" type="f:SingleSuffixType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfVolumeMeasurement" type="f:UnitOfVolumeMeasurementType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="IffSifModeAndCodeOrConditionType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>IFF/SIF MODE AND CODE OR CONDITION</FudName>
   <FudExplanation>The mode and code or condition of a specific IFF/SIF interchange.</FudExplanation>
   <FieldFormatIndexReferenceNumber>240</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="IffSifModeDesignator" type="f:IffSifModeDesignatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="IffSifCodeOrCondition" type="f:IffSifCodeOrConditionType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="MilitaryDayTimeToTheSecondZuluType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>MILITARY DAY-TIME TO THE SECOND, ZULU</FudName>
   <FudExplanation>The day of the month and time keeping in hours, minutes, and seconds of a calendar day using the 24-clock system and an associated Zulu time zone.</FudExplanation>
   <FieldFormatIndexReferenceNumber>288</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="Day" type="f:DayType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="HourTime" type="f:HourTimeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinuteTime" type="f:MinuteTimeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="SecondTime" type="f:SecondTimeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="TimeZoneZulu" type="f:TimeZoneZuluType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="JulianDayTimeType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>JULIAN DAY-TIME</FudName>
   <FudExplanation>The Julian day-time of an event.</FudExplanation>
   <FieldFormatIndexReferenceNumber>292</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.02</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="JulianDay" type="f:JulianDayType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="HourTime" type="f:HourTimeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinuteTime" type="f:MinuteTimeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="TimeZone" type="f:TimeZoneType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="GeographicLocationLatLongCentisecondsType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>GEOGRAPHIC LOCATION, LAT/LONG, CENTISECONDS</FudName>
   <FudExplanation>The location of a point on the earth's surface expressed in centiseconds.</FudExplanation>
   <FieldFormatIndexReferenceNumber>442</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="LatitudeDegrees" type="f:LatitudeDegreesType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudeMinuteAngular" type="f:LatitudeMinuteAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudeSecondAngular" type="f:LatitudeSecondAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudeCentisecondAngular" type="f:LatitudeCentisecondAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudinalHemisphere" type="f:LatitudinalHemisphereType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeDegrees" type="f:LongitudeDegreesType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>6</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeMinuteAngular" type="f:LongitudeMinuteAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>7</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeSecondAngular" type="f:LongitudeSecondAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>8</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeCentisecondAngular" type="f:LongitudeCentisecondAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>9</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudinalHemisphere" type="f:LongitudinalHemisphereType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>10</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="CargoSizeType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>CARGO CUBIC SIZE</FudName>
   <FudExplanation>A description of the cubic size of cargo.</FudExplanation>
   <FieldFormatIndexReferenceNumber>452</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecimalPtPermitted4CharacterMax" type="f:ContextQuantityDecimalPtPermitted4CharacterMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfVolumeMeasurement" type="f:UnitOfVolumeMeasurementType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="LocationGeorefMinuteType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>LOCATION, GEOREF, MINUTE</FudName>
   <FudExplanation>A location of a point on the earth's surface.</FudExplanation>
   <FieldFormatIndexReferenceNumber>497</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="FifteenDegreeQuadrilateralGeoref" type="f:FifteenDegreeQuadrilateralGeorefType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="OneDegreeQuadrilateralGeoref" type="f:OneDegreeQuadrilateralGeorefType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinuteEastingGeoref" type="f:MinuteEastingGeorefType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinuteNorthingGeoref" type="f:MinuteNorthingGeorefType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="FrequencyOfEmissionType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>FREQUENCY OF EMISSION</FudName>
   <FudExplanation>The frequency of an emitted electronic signal.</FudExplanation>
   <FieldFormatIndexReferenceNumber>652</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecimalPtPermitted8CharacterMax" type="f:ContextQuantityDecimalPtPermitted8CharacterMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="ElectromagneticPulseUnitOfMeasurement" type="f:ElectromagneticPulseUnitOfMeasurementType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="BeaconType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>BEACON</FudName>
   <FudExplanation>The coded signal transmitted air to air for the purpose of tanker identification during rendezvous.</FudExplanation>
   <FieldFormatIndexReferenceNumber>806</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity0To6_1" type="f:ContextQuantity0To6Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen_1" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContextQuantity0To6_2" type="f:ContextQuantity0To6Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen_2" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContextQuantity0To6_3" type="f:ContextQuantity0To6Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="UnitIdentificationCodeUicType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>UNIT IDENTIFICATION CODE (UIC)</FudName>
   <FudExplanation>A unique identification of a unit level organization.</FudExplanation>
   <FieldFormatIndexReferenceNumber>961</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.02.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="GeopoliticalEntity" type="f:GeopoliticalEntityType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArmedService" type="f:ArmedServiceType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="FileSequentialLocationNumber" type="f:FileSequentialLocationNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="CountOfItemsInADesignatedStatusInKType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>COUNT OF ITEMS IN A DESIGNATED STATUS IN THOUSANDS</FudName>
   <FudExplanation>A count of the number of items in thousands of an undesignated type (i.e., a type determined by context) but having a certain designated status.</FudExplanation>
   <FieldFormatIndexReferenceNumber>1319</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity1To999" type="f:ContextQuantity1To999Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="SuffixK" type="f:SuffixKType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="AlertStatusHoursType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>ALERT STATUS, HOURS</FudName>
   <FudExplanation>The readiness status expressed in hours as an indication of the time specified or implied for an aircraft to be airborne after the launch order is received or the time required for a missile unit to assume battle stations.</FudExplanation>
   <FieldFormatIndexReferenceNumber>1329</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity1To99" type="f:ContextQuantity1To99Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="SuffixH" type="f:SuffixHType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="AlertStatusMinutesType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>ALERT STATUS, MINUTES</FudName>
   <FudExplanation>The readiness status expressed in minutes as an indication of the time specified or implied for an aircraft to be airborne after the launch order is received or the time required for a missile unit to assume battle stations.</FudExplanation>
   <FieldFormatIndexReferenceNumber>1330</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity1To59" type="f:ContextQuantity1To59Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="SuffixM" type="f:SuffixMType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="HaveQuickParametersWithMickeyNetControllerType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>HAVE QUICK PARAMETERS WITH MICKEY NET CONTROLLER</FudName>
   <FudExplanation>The specific parameters required to contact another entity using Have Quick when a Mickey net controller synchronization authority is required.</FudExplanation>
   <FieldFormatIndexReferenceNumber>1410</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="NetInUseIdentifier" type="f:NetInUseIdentifierType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen_1" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetInUseIdentifier" type="f:SetInUseIdentifierType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen_2" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Day" type="f:DayType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MonthNumeric" type="f:MonthNumericType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>6</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Year" type="f:YearType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>7</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen_3" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>8</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MickeyNetController" type="f:MickeyNetControllerType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>9</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen_4" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>10</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContextQuantityDecimalPtPermitted11CharacterMax" type="f:ContextQuantityDecimalPtPermitted11CharacterMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>11</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="FrequencyUnitOfMeasurement" type="f:FrequencyUnitOfMeasurementType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>12</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="HaveQuickParametersWithoutMickeyNetControllerType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>HAVE QUICK PARAMETERS WITHOUT MICKEY NET CONTROLLER</FudName>
   <FudExplanation>The specific parameters required to contact another entity using Have Quick when a Mickey net controller synchronization authority is not required.</FudExplanation>
   <FieldFormatIndexReferenceNumber>1411</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="NetInUseIdentifier" type="f:NetInUseIdentifierType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen_1" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="SetInUseIdentifier" type="f:SetInUseIdentifierType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen_2" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Day" type="f:DayType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MonthNumeric" type="f:MonthNumericType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>6</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Year" type="f:YearType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>7</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="AltitudeBandObservedType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>ALTITUDE BAND OBSERVED</FudName>
   <FudExplanation>The airspace defined to exist between a specified minimum and maximum altitude measured in hundreds of feet.</FudExplanation>
   <FieldFormatIndexReferenceNumber>1415</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="MinimumAltitudeInHundredsOfFeet" type="f:MinimumAltitudeInHundredsOfFeetType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MaximumAltitudeInHundredsOfFeet" type="f:MaximumAltitudeInHundredsOfFeetType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="WeightInHundredsOfKilogramsOrThousandsOfPoundsType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>WEIGHT IN HUNDREDS OF KILOGRAMS OR THOUSANDS OF POUNDS</FudName>
   <FudExplanation>The weight or amount of heaviness of an object in hundreds of kilograms or thousands of pounds.</FudExplanation>
   <FieldFormatIndexReferenceNumber>1417</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity000To999999" type="f:ContextQuantity000To999999Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfWeightHkgKlb" type="f:UnitOfWeightHkgKlbType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="TacanChannelQualifiedType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>TACAN CHANNEL, QUALIFIED</FudName>
   <FudExplanation>The TACAN channel number with X and Y modes.</FudExplanation>
   <FieldFormatIndexReferenceNumber>1419</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="TacanChannel" type="f:TacanChannelType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="TacanChannelSuffix" type="f:TacanChannelSuffixType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="EntityIdReferenceNumberType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>ENTITY ID REFERENCE NUMBER</FudName>
   <FudExplanation>A globally understood Entity Identification Reference Number (EIRN) numbering scheme that is used to identify entities, objects, or events on any Variable Message Format (VMF) interface.  When combined with a unit's Unit Reference Number (URN), the 10 character Entity Identification Serial Number (EISN) provides each unit the capability to uniquely identify 4,294,967,296 objects, entities or events.</FudExplanation>
   <FieldFormatIndexReferenceNumber>1521</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="UnitReferenceNumber" type="f:UnitReferenceNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityIdSerialNumber" type="f:EntityIdSerialNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="TacanChannelReceiverAndTankerType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>TACAN CHANNEL, RECEIVER AND TANKER</FudName>
   <FudExplanation>The TACAN channels for the receiver and tanker aircraft involved in air-to-air refueling.</FudExplanation>
   <FieldFormatIndexReferenceNumber>2013</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ReceiverTacanChannel" type="f:ReceiverTacanChannelType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="TacanChannelSuffix_1" type="f:TacanChannelSuffixType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="TankerTacanChannel" type="f:TankerTacanChannelType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="TacanChannelSuffix_2" type="f:TacanChannelSuffixType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="DayTimeAndMonthType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>DAY-TIME AND MONTH</FudName>
   <FudExplanation>The day-time and month of an event.</FudExplanation>
   <FieldFormatIndexReferenceNumber>2044</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.02</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="Day" type="f:DayType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="HourTime" type="f:HourTimeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MinuteTime" type="f:MinuteTimeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="TimeZone" type="f:TimeZoneType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MonthName" type="f:MonthNameType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="TrueCourseAndSpeedOrVelocityInKnotsType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>TRUE COURSE AND SPEED/VELOCITY IN KNOTS</FudName>
   <FudExplanation>The direction of travel measured in degrees true and the measured or estimated speed/velocity of an object in knots.</FudExplanation>
   <FieldFormatIndexReferenceNumber>2181</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity000To359" type="f:ContextQuantity000To359Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AngularMeasurementReferenceTrue" type="f:AngularMeasurementReferenceTrueType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContextQuantityDecimalPtPermitted3CharacterMax" type="f:ContextQuantityDecimalPtPermitted3CharacterMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfSpeedVelocityMeasurementKnots" type="f:UnitOfSpeedVelocityMeasurementKnotsType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="TrueCourseAndRelativeSpeedType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>TRUE COURSE AND RELATIVE SPEED</FudName>
   <FudExplanation>The direction in degrees true and relative speed of an object.</FudExplanation>
   <FieldFormatIndexReferenceNumber>2182</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity000To359" type="f:ContextQuantity000To359Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AngularMeasurementReferenceTrue" type="f:AngularMeasurementReferenceTrueType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="RelativeSpeed" type="f:RelativeSpeedType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="NavalTaskDesignatorType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>NAVAL TASK DESIGNATOR</FudName>
   <FudExplanation>The identifying designator of a Naval task entity.</FudExplanation>
   <FieldFormatIndexReferenceNumber>2254</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.02</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="NavalLevelOfEchelon" type="f:NavalLevelOfEchelonType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="NavalOrganizationNumericalDesignator" type="f:NavalOrganizationNumericalDesignatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType></xsd:schema>