xml/WithDoc/almsnscd/composites.xsd

<?xml version="1.0" ?> 
<xsd:schema targetNamespace="urn:mtf:mil:6040b:almsnscd:B.1.01.16:composite" xml:lang="en-US" xmlns="urn:mtf:mil:6040b:almsnscd:B.1.01.16:composite" xmlns:f="urn:mtf:mil:6040b:almsnscd:B.1.01.16:elemental" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
 <xsd:import namespace="urn:mtf:mil:6040b:almsnscd:B.1.01.16:elemental" schemaLocation="fields.xsd" /><xsd:complexType name="PlanOriginatorAndNumberType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>PLAN ORIGINATOR AND NUMBER</FudName>
   <FudExplanation>The official identifier of a military establishment which is responsible for a specific operation plan, and the identification number assigned to that specific operation plan.</FudExplanation>
   <FieldFormatIndexReferenceNumber>102</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="PlanOriginator" type="f:PlanOriginatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="BlankSpaceCharacter" type="f:BlankSpaceCharacterType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="OperationPlanNumber" type="f:OperationPlanNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="IffSifModeAndCodeOrConditionType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>IFF/SIF MODE AND CODE OR CONDITION</FudName>
   <FudExplanation>The mode and code or condition of a specific IFF/SIF interchange.</FudExplanation>
   <FieldFormatIndexReferenceNumber>240</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="IffSifModeDesignator" type="f:IffSifModeDesignatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="IffSifCodeOrCondition" type="f:IffSifCodeOrConditionType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="AirliftEnRouteStopPurposeTwoCharacterType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>AIRLIFT EN ROUTE STOP PURPOSE, TWO CHARACTER</FudName>
   <FudExplanation>The two reasons that an airlift aircraft is scheduled to stop at an airfield.</FudExplanation>
   <FieldFormatIndexReferenceNumber>447</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="AirliftEnRouteStopPurpose_1" type="f:AirliftEnRouteStopPurposeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AirliftEnRouteStopPurpose_2" type="f:AirliftEnRouteStopPurposeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="AirliftEnRouteStopPurposeThreeCharacterType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>AIRLIFT EN ROUTE STOP PURPOSE, THREE CHARACTER</FudName>
   <FudExplanation>The three reasons that an airlift aircraft is scheduled to stop at an airfield.</FudExplanation>
   <FieldFormatIndexReferenceNumber>448</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="AirliftEnRouteStopPurpose_1" type="f:AirliftEnRouteStopPurposeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AirliftEnRouteStopPurpose_2" type="f:AirliftEnRouteStopPurposeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AirliftEnRouteStopPurpose_3" type="f:AirliftEnRouteStopPurposeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="AirliftEnRouteStopPurposeFourCharacterType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>AIRLIFT EN ROUTE STOP PURPOSE, FOUR CHARACTER</FudName>
   <FudExplanation>The four reasons that an airlift aircraft is scheduled to stop at an airfield.</FudExplanation>
   <FieldFormatIndexReferenceNumber>449</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="AirliftEnRouteStopPurpose_1" type="f:AirliftEnRouteStopPurposeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AirliftEnRouteStopPurpose_2" type="f:AirliftEnRouteStopPurposeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AirliftEnRouteStopPurpose_3" type="f:AirliftEnRouteStopPurposeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AirliftEnRouteStopPurpose_4" type="f:AirliftEnRouteStopPurposeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="GeographicLocationLatLongMinutesType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>GEOGRAPHIC LOCATION, LAT/LONG, MINUTES</FudName>
   <FudExplanation>The location of a point on the earth's surface.</FudExplanation>
   <FieldFormatIndexReferenceNumber>469</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="LatitudeDegrees" type="f:LatitudeDegreesType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudeMinuteAngular" type="f:LatitudeMinuteAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudinalHemisphere" type="f:LatitudinalHemisphereType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeDegrees" type="f:LongitudeDegreesType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeMinuteAngular" type="f:LongitudeMinuteAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudinalHemisphere" type="f:LongitudinalHemisphereType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>6</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="NumberAndTypeOrModelOfAircraftType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>NUMBER AND TYPE/MODEL OF AIRCRAFT</FudName>
   <FudExplanation>The count and type and/or model of aircraft being reported.</FudExplanation>
   <FieldFormatIndexReferenceNumber>496</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.06</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity1To99" type="f:ContextQuantity1To99Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AircraftTypeAndModel" type="f:AircraftTypeAndModelType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="LocationMgrsUtmAbbreviated100MeterType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>LOCATION, MGRS-UTM ABBREVIATED 100-METER</FudName>
   <FudExplanation>The Military Grid Reference System (MGRS) is based on the Universal Transverse Mercator (UTM) system (MGRS-UTM) (abbreviated), used for locating any point on the earth between latitude 80 degrees south and 84 degrees north, which corresponds to 100-meter precision.</FudExplanation>
   <FieldFormatIndexReferenceNumber>598</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="_100000MeterSquareColumn" type="f:_100000MeterSquareColumnType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="_100000MeterSquareRow" type="f:_100000MeterSquareRowType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MgrsUtm100MeterEasting" type="f:MgrsUtm100MeterEastingType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MgrsUtm100MeterNorthing" type="f:MgrsUtm100MeterNorthingType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="NumberAndCategoryOfAircraftType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>NUMBER AND CATEGORY OF AIRCRAFT</FudName>
   <FudExplanation>The number and category of aircraft.</FudExplanation>
   <FieldFormatIndexReferenceNumber>665</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="AircraftAllocatedToAMission" type="f:AircraftAllocatedToAMissionType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AircraftCategoryAbbreviated" type="f:AircraftCategoryAbbreviatedType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="UnitIdentificationCodeUicType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>UNIT IDENTIFICATION CODE (UIC)</FudName>
   <FudExplanation>A unique identification of a unit level organization.</FudExplanation>
   <FieldFormatIndexReferenceNumber>961</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.02.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="GeopoliticalEntity" type="f:GeopoliticalEntityType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArmedService" type="f:ArmedServiceType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="FileSequentialLocationNumber" type="f:FileSequentialLocationNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType></xsd:schema>