xml/mtfmap.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3schools.com"
xmlns="http://www.w3schools.com"
elementFormDefault="qualified">
<xs:element name="MTF">
<xs:complexType>
	<xs:sequence>
		<xs:element name="msg" maxOccurs="unbounded" minOccurs="1">
			<xs:complexType>
				<xs:sequence>
						<xs:element name="msgid" type="xs:string"/>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="index" type="xs:string"/>
						<xs:element name="version" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>