xml/WithDoc/aoafcst/composites.xsd

<?xml version="1.0" ?> 
<xsd:schema targetNamespace="urn:mtf:mil:6040b:aoafcst:B.1.01.14:composite" xml:lang="en-US" xmlns="urn:mtf:mil:6040b:aoafcst:B.1.01.14:composite" xmlns:f="urn:mtf:mil:6040b:aoafcst:B.1.01.14:elemental" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
 <xsd:import namespace="urn:mtf:mil:6040b:aoafcst:B.1.01.14:elemental" schemaLocation="fields.xsd" /><xsd:complexType name="GeographicLocationLatLongSecondsType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>GEOGRAPHIC LOCATION, LAT/LONG, SECONDS</FudName>
   <FudExplanation>The location of a point on the earth's surface as defined by the intersection of angular distances measured north and south of the equator and east and west of a specified meridian.</FudExplanation>
   <FieldFormatIndexReferenceNumber>11</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="LatitudeDegrees" type="f:LatitudeDegreesType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudeMinuteAngular" type="f:LatitudeMinuteAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudeSecondAngular" type="f:LatitudeSecondAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudinalHemisphere" type="f:LatitudinalHemisphereType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeDegrees" type="f:LongitudeDegreesType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeMinuteAngular" type="f:LongitudeMinuteAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>6</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeSecondAngular" type="f:LongitudeSecondAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>7</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudinalHemisphere" type="f:LongitudinalHemisphereType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>8</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="LocationMgrsUtm10MeterType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>LOCATION, MGRS-UTM 10-METER</FudName>
   <FudExplanation>The location of a point on the earth's surface.</FudExplanation>
   <FieldFormatIndexReferenceNumber>12</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="MgrsUtmGridZoneColumn" type="f:MgrsUtmGridZoneColumnType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MgrsUtmGridZoneRow" type="f:MgrsUtmGridZoneRowType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="_100000MeterSquareColumn" type="f:_100000MeterSquareColumnType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="_100000MeterSquareRow" type="f:_100000MeterSquareRowType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MgrsUtm10MeterEasting" type="f:MgrsUtm10MeterEastingType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MgrsUtm10MeterNorthing" type="f:MgrsUtm10MeterNorthingType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>6</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="AltitudeType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>ALTITUDE</FudName>
   <FudExplanation>The vertical distance above a referenced datum plane of an airborne object.</FudExplanation>
   <FieldFormatIndexReferenceNumber>36</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="DatumPlane" type="f:DatumPlaneType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContextQuantity0To999999" type="f:ContextQuantity0To999999Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfLinearMeasurementMetersOrFeet" type="f:UnitOfLinearMeasurementMetersOrFeetType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="HeightInFeetOrMetersType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>HEIGHT IN FEET OR METERS</FudName>
   <FudExplanation>The maximum vertical dimension of a target, object, or area in feet or meters.</FudExplanation>
   <FieldFormatIndexReferenceNumber>63</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecimalPtPermitted5CharacterMax" type="f:ContextQuantityDecimalPtPermitted5CharacterMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfLinearMeasurementMetersOrFeet" type="f:UnitOfLinearMeasurementMetersOrFeetType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="PlanOriginatorAndNumberType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>PLAN ORIGINATOR AND NUMBER</FudName>
   <FudExplanation>The official identifier of a military establishment which is responsible for a specific operation plan, and the identification number assigned to that specific operation plan.</FudExplanation>
   <FieldFormatIndexReferenceNumber>102</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="PlanOriginator" type="f:PlanOriginatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="BlankSpaceCharacter" type="f:BlankSpaceCharacterType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="OperationPlanNumber" type="f:OperationPlanNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="HeightInFeetOrMetersCodedQuantityType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>HEIGHT IN FEET OR METERS CODED QUANTITY</FudName>
   <FudExplanation>The maximum vertical dimension of a target, object, or area in feet or meters expressed as a coded quantity.</FudExplanation>
   <FieldFormatIndexReferenceNumber>221</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecPtPermitted4CharMax" type="f:ContextQuantityDecPtPermitted4CharMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="SingleSuffix" type="f:SingleSuffixType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfLinearMeasurementMetersOrFeet" type="f:UnitOfLinearMeasurementMetersOrFeetType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="VisibilityType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>VISIBILITY</FudName>
   <FudExplanation>The greatest distance, in a given direction, at which it is just possible to see and identify an object with the unaided eye.</FudExplanation>
   <FieldFormatIndexReferenceNumber>308</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecimalPtPermitted5CharacterMax" type="f:ContextQuantityDecimalPtPermitted5CharacterMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfLinearMeasurementFtMSmKmNm" type="f:UnitOfLinearMeasurementFtMSmKmNmType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="GeographicLocationLatLongMinutesType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>GEOGRAPHIC LOCATION, LAT/LONG, MINUTES</FudName>
   <FudExplanation>The location of a point on the earth's surface.</FudExplanation>
   <FieldFormatIndexReferenceNumber>469</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="LatitudeDegrees" type="f:LatitudeDegreesType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudeMinuteAngular" type="f:LatitudeMinuteAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudinalHemisphere" type="f:LatitudinalHemisphereType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeDegrees" type="f:LongitudeDegreesType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudeMinuteAngular" type="f:LongitudeMinuteAngularType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="LongitudinalHemisphere" type="f:LongitudinalHemisphereType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>6</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="LocationMgrsUtm100MeterType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>LOCATION, MGRS-UTM 100-METER</FudName>
   <FudExplanation>The location of a point on the earth's surface.</FudExplanation>
   <FieldFormatIndexReferenceNumber>542</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="MgrsUtmGridZoneColumn" type="f:MgrsUtmGridZoneColumnType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MgrsUtmGridZoneRow" type="f:MgrsUtmGridZoneRowType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="_100000MeterSquareColumn" type="f:_100000MeterSquareColumnType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="_100000MeterSquareRow" type="f:_100000MeterSquareRowType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MgrsUtm100MeterEasting" type="f:MgrsUtm100MeterEastingType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MgrsUtm100MeterNorthing" type="f:MgrsUtm100MeterNorthingType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>6</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="BreakerHeightType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>BREAKER HEIGHT</FudName>
   <FudExplanation>The height of a wave that has been tripped by shoaling water measured to the nearest half-foot.</FudExplanation>
   <FieldFormatIndexReferenceNumber>837</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecPtPermitted3CharacterMax" type="f:ContextQuantityDecPtPermitted3CharacterMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfLinearMeasurementFeet" type="f:UnitOfLinearMeasurementFeetType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="VariableWindDirectionInDegreesType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>VARIABLE WIND DIRECTION IN DEGREES</FudName>
   <FudExplanation>The lower and upper limit of the variation in direction (in relation to true north) from which the wind is blowing.</FudExplanation>
   <FieldFormatIndexReferenceNumber>843</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="WindDirectionInDegreesRelativeToTrueNorth_1" type="f:WindDirectionInDegreesRelativeToTrueNorthType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="VariableWindIndicator" type="f:VariableWindIndicatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="WindDirectionInDegreesRelativeToTrueNorth_2" type="f:WindDirectionInDegreesRelativeToTrueNorthType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="ElevatedDuctAltitudeRangeType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>ELEVATED DUCT ALTITUDE RANGE</FudName>
   <FudExplanation>The upper and lower altitude boundaries that define an elevated duct.</FudExplanation>
   <FieldFormatIndexReferenceNumber>851</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ElevatedDuctAltitudeInFeet_1" type="f:ElevatedDuctAltitudeInFeetType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="ElevatedDuctAltitudeInFeet_2" type="f:ElevatedDuctAltitudeInFeetType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="PeriodBetweenBreakersType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>PERIOD BETWEEN BREAKERS</FudName>
   <FudExplanation>The time interval between breakers measured to the nearest half-second.</FudExplanation>
   <FieldFormatIndexReferenceNumber>886</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantityDecPtForTenthsPermitted4CharMax" type="f:ContextQuantityDecPtForTenthsPermitted4CharMaxType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfTimeMeasurementSec" type="f:UnitOfTimeMeasurementSecType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="SeaWaveHeightType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>SEA WAVE HEIGHT</FudName>
   <FudExplanation>The vertical distance between a wave crest and the troughs on either side of it.</FudExplanation>
   <FieldFormatIndexReferenceNumber>1163</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ContextQuantity0To999" type="f:ContextQuantity0To999Type">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="UnitOfLinearMeasurementMetersOrFeet" type="f:UnitOfLinearMeasurementMetersOrFeetType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType></xsd:schema>