xml/WithDoc/afu.mfr/composites.xsd

<?xml version="1.0" ?> 
<xsd:schema targetNamespace="urn:mtf:mil:6040b:afu.mfr:B.1.01.14:composite" xml:lang="en-US" xmlns="urn:mtf:mil:6040b:afu.mfr:B.1.01.14:composite" xmlns:f="urn:mtf:mil:6040b:afu.mfr:B.1.01.14:elemental" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
 <xsd:import namespace="urn:mtf:mil:6040b:afu.mfr:B.1.01.14:elemental" schemaLocation="fields.xsd" /><xsd:complexType name="AmericanBritishCanadianAustralianTargetIdentifierType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>AMERICAN, BRITISH, CANADIAN, AUSTRALIAN TARGET IDENTIFIER</FudName>
   <FudExplanation>A separate and distinctive designation of targets that permits rapid resolution of duplication and a quick response to calls for fire. a target is designated by two letters followed by four numbers. The two letter group denotes the originator of the target in the U.S. system and the letter of classification in the UK/CDA/AUS system. To designate each specific target as a separate entity, a four digit numerical group will follow the two letter group.</FudExplanation>
   <FieldFormatIndexReferenceNumber>8</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="TargetOriginatorAndTargetClassification" type="f:TargetOriginatorAndTargetClassificationType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="NumericalTargetDesignator" type="f:NumericalTargetDesignatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="BasicEncyclopediaNumberType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>BASIC ENCYCLOPEDIA NUMBER</FudName>
   <FudExplanation>The number assigned to a target/installation using the Basic Encyclopedia (BE) numbering system.</FudExplanation>
   <FieldFormatIndexReferenceNumber>10</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
  <xsd:appinfo>
   <FudName>FIELD INITIATED BASIC ENCYCLOPEDIA NUMBER</FudName>
   <FudExplanation>An identification code assigned to a target detected by imagery reconnaissance.</FudExplanation>
   <FieldFormatIndexReferenceNumber>10</FieldFormatIndexReferenceNumber>
   <FudNumber>2</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="WorldAreaNumber" type="f:WorldAreaNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="RecordOriginatorBeNumber" type="f:RecordOriginatorBeNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="InstallationIdentificationSerialNumber" type="f:InstallationIdentificationSerialNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="PlanOriginatorAndNumberType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>PLAN ORIGINATOR AND NUMBER</FudName>
   <FudExplanation>The official identifier of a military establishment which is responsible for a specific operation plan, and the identification number assigned to that specific operation plan.</FudExplanation>
   <FieldFormatIndexReferenceNumber>102</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="PlanOriginator" type="f:PlanOriginatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="BlankSpaceCharacter" type="f:BlankSpaceCharacterType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="OperationPlanNumber" type="f:OperationPlanNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="PrecisionLocationStrikeSystemIdentificationType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>PRECISION LOCATION STRIKE SYSTEM IDENTIFICATION</FudName>
   <FudExplanation>The system identifier and the identification number assigned to a target that has been located by the Precision Location Strike System (PLSS).</FudExplanation>
   <FieldFormatIndexReferenceNumber>239</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="PrecisionLocationStrikeSystemIdentifier" type="f:PrecisionLocationStrikeSystemIdentifierType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="PrecisionLocationStrikeSystemNumber" type="f:PrecisionLocationStrikeSystemNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="TargetIdentifierBeNumberWithBenSuffixType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>TARGET IDENTIFIER, BE NUMBER WITH BEN SUFFIX</FudName>
   <FudExplanation>The identifier and number assigned to a target, using the Basic Encyclopedia (BE) number of an installation with the be number suffix identifying the targeted facility within the installation.</FudExplanation>
   <FieldFormatIndexReferenceNumber>328</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="BasicEncyclopediaNumberWithBenSuffixIdentifier" type="f:BasicEncyclopediaNumberWithBenSuffixIdentifierType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="WorldAreaNumber" type="f:WorldAreaNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="RecordOriginatorBeNumber" type="f:RecordOriginatorBeNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="InstallationIdentificationSerialNumber" type="f:InstallationIdentificationSerialNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationIdentifier" type="f:OrganizationIdentifierType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="SequenceNumber" type="f:SequenceNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>6</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="ShipIdentificationType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>SHIP IDENTIFICATION</FudName>
   <FudExplanation>The identification of a specific ship by type and hull number.</FudExplanation>
   <FieldFormatIndexReferenceNumber>458</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="ShipType" type="f:ShipTypeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Hyphen" type="f:HyphenType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="HullNumber" type="f:HullNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="NavalTaskIdentifierType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>NAVAL TASK IDENTIFIER</FudName>
   <FudExplanation>An identification of a specific Naval task echelon.</FudExplanation>
   <FieldFormatIndexReferenceNumber>489</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="NavalTaskIdentifierEchelonLevel" type="f:NavalTaskIdentifierEchelonLevelType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="NavalTaskOrganizationEchelonNumber" type="f:NavalTaskOrganizationEchelonNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="AbcaTargetNumberType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>ABCA TARGET NUMBER</FudName>
   <FudExplanation>The identifier and number assigned to a tactical target.</FudExplanation>
   <FieldFormatIndexReferenceNumber>554</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>For further U.S. implementation guidance, see Repository of USMTF Program Items Document, item 1.</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="AbcaTargetIdentifier" type="f:AbcaTargetIdentifierType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="TargetOriginatorAndTargetClassification" type="f:TargetOriginatorAndTargetClassificationType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="NumericalTargetDesignator" type="f:NumericalTargetDesignatorType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="TheaterTargetIdentificationNumberType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>THEATER TARGET IDENTIFICATION NUMBER</FudName>
   <FudExplanation>The identifying number assigned to a target using a theater target numbering system.</FudExplanation>
   <FieldFormatIndexReferenceNumber>555</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="TheaterTargetIdentifier" type="f:TheaterTargetIdentifierType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="TheaterTargetCode" type="f:TheaterTargetCodeType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="IntratheaterTargetNumber" type="f:IntratheaterTargetNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="TargetIdentifierBeNumberWithSuffixType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>TARGET IDENTIFIER, BE NUMBER WITH SUFFIX</FudName>
   <FudExplanation>The identifier and number assigned to a target, using the Basic Encyclopedia (BE) number with be suffix of that target.</FudExplanation>
   <FieldFormatIndexReferenceNumber>556</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="BasicEncyclopediaNumberSuffixIdentifier" type="f:BasicEncyclopediaNumberSuffixIdentifierType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="WorldAreaNumber" type="f:WorldAreaNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="RecordOriginatorBeNumber" type="f:RecordOriginatorBeNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="InstallationIdentificationSerialNumber" type="f:InstallationIdentificationSerialNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="BasicEncyclopediaSuffix" type="f:BasicEncyclopediaSuffixType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>5</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="HullToEmitterCorrelationIdentifierType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>HULL-TO-EMITTER CORRELATION IDENTIFIER</FudName>
   <FudExplanation>The identifier assigned to a target using the Hull-to-Emitter Correlation (HULTEC) numbering system.</FudExplanation>
   <FieldFormatIndexReferenceNumber>563</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.00</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="HullToEmitterCorrelationIdentification" type="f:HullToEmitterCorrelationIdentificationType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="HullToEmitterCorrelationNumber" type="f:HullToEmitterCorrelationNumberType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType><xsd:complexType name="MgrsUtmGridZoneAnd100KmSquareType">
 <xsd:annotation>
  <xsd:appinfo>
   <FudName>MGRS-UTM GRID ZONE, AND 100-KM SQUARE</FudName>
   <FudExplanation>The Military Grid Reference System (MGRS) based on the Universal Transverse Mercator (UTM) system (MGRS-UTM) used for locating any point on the earth between latitude 80 degrees south and 84 degrees north, which corresponds to 100-kilometer precision.</FudExplanation>
   <FieldFormatIndexReferenceNumber>1023</FieldFormatIndexReferenceNumber>
   <FudNumber>1</FudNumber>
   <VersionIndicator>B.1.01.01</VersionIndicator>
   <FudSponsor />
   <FudRelatedDocument>NONE</FudRelatedDocument>
  </xsd:appinfo>
 </xsd:annotation>
 <xsd:sequence>
  <xsd:element name="MgrsUtmGridZoneColumn" type="f:MgrsUtmGridZoneColumnType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>1</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="MgrsUtmGridZoneRow" type="f:MgrsUtmGridZoneRowType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>2</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="_100000MeterSquareColumn" type="f:_100000MeterSquareColumnType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>3</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="_100000MeterSquareRow" type="f:_100000MeterSquareRowType">
   <xsd:annotation>
    <xsd:appinfo>
     <ElementalFfirnFudnSequence>4</ElementalFfirnFudnSequence>
    </xsd:appinfo>
   </xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType></xsd:schema>